
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: rgb(255, 214, 125);
}
.container{
    width: 100%;


}

a{
    text-decoration: none;
    color:rgb(25, 152, 187);
}
a:hover,a::after{
    text-shadow:5px 5px 2px rgba(66, 48, 19, 0.3);

}
li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
    font-size: 25px;
    right:-99px;
    top:0px;
}
img{
    width: 75px;
    height: 75px;
    opacity: 0.75;
    border-radius: 50%;
    position: relative;
    bottom: 69px;
    border: rgba(25, 152, 187, 0.626) 1xp solid;
}
img:hover{
 
    opacity: 0.25;
    cursor: pointer;
}
p{
    position: absolute;
    left: 130px;
    bottom: 257px;
    text-align: center ;
    width: auto;
    padding:  10px;
    background-image: linear-gradient(#4f909e,rgb(246, 206, 120) );
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    border: rgb(25, 152, 187 ) 1px solid;
    border-width: medium;
    border-style: groove;
    border-collapse: collapse;
    border-spacing: inherit;
    border-color:#005661;
    border-radius: 10px;

}
ul{
    border:solid 1px#016471;
    width: 50%;
    height: 10%;
    position: relative;
    left:285px;
    top:3px;
    border-color:#005661;
    border-radius: 5px;
}